.mainBackground {
  display: flex;
  height: 100vh;
  justify-content: center;
  &.darkTheme {
    background-color: #141d2f;
  }
  &.lightTheme {
    background-color: #f6f8ff;
  }
}
.wrapper {
  margin-top: 100px;
}
.wrapperProfile {
  padding: 25px 40px 25px 0px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 30fr 70fr;
  border-radius: 15px;
  .wrapperPicture {
    height: 100%;
  }
  &.darkTheme {
    background-color: #1e2a47;
  }
  &.lightTheme {
    background-color: #f6f8ff;
    box-shadow: 0px 10px 10px #141d2f70;
  }
}

