.profileOverview {
  display: flex;
  justify-content: space-between;
  padding: 28px;
  border-radius: 18px;
  margin-top: 18px;
  &.darkTheme {
    background-color: #141d2f;
  }
  &.lightTheme {
    background-color: #fff;
  }
}
