.header {
  display: flex;
  justify-content: space-between;
  width: 730px;
  color: #fff;
  margin-bottom: 25px;
  &.lightTheme {
    color: #141d2f;
  }
  .name {
    display: flex;
    justify-content: start;
  }
  .themeSelector {
    cursor: pointer;
    display: flex;
    justify-content: end;
    gap: 15px;
    align-self: center;
  }
}
